<% if current_user %>
    <div class="span2">
      <div class="well sidebar-nav">
        <div>
          <ul class="nav nav-list actions">
            <li style="padding-bottom: 6px; padding-left: 5px">
              Estimated wait:
            </li>
            <center>
              <script>
                  var myCountdown1 = new Countdown({time:<%= Metrics::wait_time(current_user) %>, rangeHi: "minutes", height: 70, width: 135});
              </script>
            </center>
            <br>

            <div ng-if="status == 'idle'">
              <div class="btn btn-primary btn-block" ng-click="run()">Run</div>
              <div class="btn btn-primary btn-block" ng-click="start_waiting()">Start Waiting</div>
            </div>

            <div ng-if="status == 'blocked'">
              <div class="btn btn-primary btn-block" ng-click="start_waiting()">Start Waiting</div>
            </div>

            <div ng-if="status == 'waiting'">
              <div class="btn btn-primary btn-block" ng-click="cancel(current_transaction.id)">Stop Waiting</div>
            </div>

            <div ng-if="status == 'pending'">
              <div class="btn btn-primary btn-block" ng-click="run_after_pending(current_transaction.id)">Run</div>
              <div class="btn btn-primary btn-block" ng-click="cancel(current_transaction.id)">Cancel</div>
            </div>

            <div ng-if="status == 'running'">
              <div class="btn btn-primary btn-block" ng-click="finish(current_transaction.id)">Finish</div>
            </div>

            <div ng-if="status == 'running and for too long'">
              <div class="btn btn-primary btn-block" ng-click="force_release()">Run</div>
            </div>
          </ul>
        </div>
      </div>
    </div>
<% end %>