<div class="span9">
  <% if current_user %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>Blocking Duration</th>
        </thead>
        <tbody>
        <tr ng-repeat="tx in queue_transactions ">
          <td>{{ tx.email }}</td>
          <td>{{ tx.status }} for {{ tx.duration}} minutes</td>
          <td>
            <div ng-hide="tx.blocking_duration == null">{{ tx.blocking_duration }} minutes</div>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>