<div ng-controller="UserCtrl">
<table class="table table-striped">
<thead>
<tr>
<th>User</th><th>Status</th><th>Status changed at</th>
</tr>
</thead>
<tr ng-repeat="user in users" class="{{user.current_user|formatCurrentUserRow}}">
  <td>{{ user.email }}</td>
  <td>{{ user.status }}</td>
  <td>{{ user.status_changed_at }}</td>
</tr>
</thead>
</table>
</div>


<!--<%= User.next_user.email if User.next_user %>-->
<!--<% if current_user %>-->
  <!--<% @users.each do |user| %>-->
  <!--<tr class="<%= "success" if user.id == current_user.id %>">-->
  <!--</tr>-->
  <!--<% end %>-->
<!--<% else %>-->
  <!--You aren't logged in.-->
<!--<% end %>-->

